* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify_content{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  background: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  gap:10px;
}
.wrap{
    position: absolute;
}
.password_content{
  display: flex;
  flex-direction: column;
  width: 400px;
  background: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  gap:10px;
}
.password_content h1,.verify_content h1{
    text-align: center;
    color: black;
}
.password_content p,.verify_content p{
    text-align: center;
    color: rgb(94, 90, 90);
}
.email_content,.update_content{
    margin-top: 20px;
}
.email_content h4,.update_content h4{
    color: rgb(80, 77, 77);
}
.update_content h4{
    margin-top: 10px;
}
#email,#password,#newpassword{
    width:100%;
    padding:8px;
    padding-left:35px ;
    border: 1px solid rgb(192, 183, 183);
    border-radius:5px;
    outline: none;
    transition:border-color 0.3s;
}
.icon{
    margin-top: 10px;
    display: flex;
    align-items: center;
    position: relative;
}
.icon i{
    position: absolute;
    left:10px;
    color:rgb(14, 47, 119)
}
.btn,.updatebtn{
    margin-top: 10px;
    padding: 8px;
    border: 1px solid rgb(190, 180, 180);
    border-radius: 10px;
    background: linear-gradient(to right, rgb(245, 192, 131),white, rgb(135, 228, 107));
    color:rgb(15, 0, 0);
    cursor: pointer;
    transition: background 0.3s ease;
    
}
.btn:active,.updatebtn:active{
    box-shadow: 0 0 10px rgb(204, 204, 212);
}

.button-spinner {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(2, 255, 23, 0.3);
    border-top: 3px solid #ffae00;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }